---
import Layout from '../layouts/Layout.astro';

// const URL = import.meta.env.URL;
---

<Layout title="About.">
    <main>
        about yes!!
    </main>
</Layout>

<style lang="scss">
    main{
        color: red;
    }
</style>
