---
import Layout from '../layouts/Layout.astro';

// const URL = import.meta.env.URL;
---

<Layout title="Welcome to Astro.">
    <main>
        Hello!!
    </main>
</Layout>

<style lang="scss">
    main{
        padding-top: 50px;
        color: #000;
    }
</style>
