---
const TopmenuData = [{
    name: 'index',
    title: '首頁',
    link: '',
}, {
    name: 'about',
    title: '關於我們',
    link: 'about',
}]

---
<div id="preload" style="z-index: 109; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #fff;"></div>

<div class="topmenuWrap fixed bg-white w-full top-0 left-0 py-5">
    <div class="topmenu grid grid-cols-5">
        {TopmenuData.map(menuData => (
            <a href={`../`+menuData.link} title={menuData.title} class="text-center">{menuData.name}</a>
        ))}
    </div>
</div>

<style lang="scss">
    .topmenuWrap{
        z-index: 9;
        .topmenu{
            a{
            }
        }
    }
</style>
